body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right bottom, #f0f1f1, #e0e6e8);
 min-height: 100vh;
  matgin: 20px; 
}

h1 {
  color: purple;
  text-shadow: 1px 1px 2px rga(0, 0, 0, 0.1);
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 20px 0;
  border: 3px solid #006bff;
  background-color: #006bff;
}

  .cell {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
  }

.cell:hover {
  background-color: #f1f1f1;
  transform: scale(1.05);
}

.player-x {
  color: red;
}
.player-0 {
  color: blue;
}

.status-display {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #34495e;
}

#restart-button {
padding: 12px:

    
  
